<!--
  Costs and Revenues
  - Total Revenue
  - Average Revenue
-->

<div class="contaienr">
  <fieldset>
    <form name="crForm" novalidate>
      <div class="form-group col-sm-12 col-md-8 col-lg-6 mx-auto mt-4">
        <label>Total Revenue</label>
        <div class="">
          <input class="" type="number" name="Price" placeholder="Price"
                 ng-model='crCtrl.Price'
                 required> {{ crCrtl.Price}} x
          <input type="number" name="Quantity" placeholder="Quantity"
                 ng-model='crCtrl.Quantity'
                 required> =
          <span ng-if="crCtrl.Price && crCtrl.Quantity"> {{ crCtrl.Price * crCtrl.Quantity }} </span>
          <span ng-hide="crCtrl.Price && crCtrl.Quantity">?</span>
        </div>
      </div>

      <div class="form-group col-sm-12 col-md-8 col-lg-6 mx-auto mt-4">
        <label>Average Revenue</label>
        <div class="">
          <input type="number" name="total_revenue" placeholder="Total Revenue"
                 ng-model='crCtrl.total_revenue'
                 required> {{ crCrtl.Price}} /
          <input type="number" name="tr_Quantity" placeholder="Quantity"
                 ng-model='crCtrl.tr_Quantity'
                 required> =
          <span ng-if="crCtrl.total_revenue && crCtrl.tr_Quantity"> {{ crCtrl.total_revenue / crCtrl.tr_Quantity }} </span>
          <span ng-hide="crCtrl.total_revenue && crCtrl.tr_Quantity">?</span>
        </div>
      </div>
    </form>
  </fieldset>

</div>
